<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.y3h2.blog.user.core.dao.UsrPermissionMapper">

    <resultMap id="BaseResultMap" type="cn.y3h2.blog.user.core.domain.UsrPermissionDO">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="code" jdbcType="VARCHAR" column="code"/>
        <result property="name" jdbcType="VARCHAR" column="name"/>
        <result property="type" jdbcType="VARCHAR" column="type"/>
        <result property="parentId" jdbcType="VARCHAR" column="parent_id"/>
        <result property="url" jdbcType="VARCHAR" column="url"/>
        <result property="icon" jdbcType="VARCHAR" column="icon"/>
        <result property="sortNum" jdbcType="VARCHAR" column="sort_num"/>
        <result property="gmtCreate" jdbcType="DATE" column="gmt_create"/>
        <result property="gmtModify" jdbcType="DATE" column="gmt_modify"/>
        <result property="status" jdbcType="INTEGER" column="status"/>
    </resultMap>

    <sql id="BaseColumnList">
        up.id,
        up.code,
        up.type,
        up.parent_id,
        up.url,
        up.icon,
        up.sort_num,
        up.gmt_create,
        up.gmt_modify,
        up.status
    </sql>

    <select id="loadAll" resultMap="BaseResultMap">
        select <include refid="BaseColumnList" />
        from usr_permission up
    </select>

    <select id="loadByRole" resultMap="BaseResultMap"
            parameterType="cn.y3h2.blog.user.api.domain.req.FindPermissionCondition">
        select <include refid="BaseColumnList" />
        from usr_permission up, usr_role_permission uop
        where up.code = uop.permission_code
        and uop.role_code = #{roleCode}
    </select>

</mapper>
